.main{
    width: 100vw;
    height: 7vh;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, red, blue);
}

.cart{
    position: relative;
}
.cartItems{
    transform: translateX(-43%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: linear-gradient(purple, red);
    white-space: nowrap;
    padding: 20px;
    animation: fadeIn 1s;
    border-radius: 10px;
    font-size: large;
}
@keyframes fadeIn {
    0%{
      opacity: 0;
      transform: translateX(-60%);
    }
    100%{
      opacity: 1;
      transform: translateX(-43%);
    }
  }