.main{
    width: 100vw;
    height: 7vh;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, red, blue);
}

.cart{
    position: relative;
}
.cartItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color:blue;
    white-space: nowrap;
    padding: 20px;
}